body {
	margin: 0;
	padding: 0;
	font-size: 1em;
	overflow: hidden;
}

.default_text {
	font-family: Consolas, Monospace;
	font-size: 1em;
	min-height: 1.25em;
	padding: 0;
	line-height: 1.25em;
	vertical-align: baseline;
	letter-spacing: normal;
}

.hidden_text_measure {
	position: absolute;
	visibility: hidden;
}

.ui_layer {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.window {
	position: absolute;
	box-sizing: content-box;
	background-color: #eeeeee;
	overflow: hidden;
}

.window_frame {
	border: 1px solid #aaaaaa;
}

.window_contents {
	margin-right: 1em;
	overflow: hidden;
	position: relative;
}

.window_line {
	position: relative;
}

.window_line_in_edit {
	background-color: #dddddd;
}

.window_line_in_edit .window_line_content {
	visibility: hidden;
}

.window_line_clickable {
	cursor: pointer;
}

.window_line_edit {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	border: 0;
	width: 100%;
	height: 100%;
	resize: none;
	background-color: transparent;
	outline: none;
	display: block;
	overflow: hidden;	
}

.window_line_focus {
	background-color: #dddddd;
}

.window_line_single {
	white-space: nowrap;
}
