@font-face {
	font-family: 'Tango4-System';
	src:url('Tango4-System.woff') format('woff'), url('Tango4-System.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.font_icon {
	vertical-align: baseline;
	font-family: 'Tango4-System';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.ic-systemhome:before {
	content: "\21";
}
.ic-systemedit:before {
	content: "\22";
}
.ic-systemnetwork:before {
	content: "\23";
}
.ic-systembook:before {
	content: "\24";
}
.ic-systembooks:before {
	content: "\25";
}
.ic-systemdocument:before {
	content: "\26";
}
.ic-systemempty1:before {
	content: "\27";
}
.ic-systemfolder:before {
	content: "\28";
}
.ic-systemtag:before {
	content: "\29";
}
.ic-systemlocation:before {
	content: "\2a";
}
.ic-systempin:before {
	content: "\2b";
}
.ic-systemclock:before {
	content: "\2c";
}
.ic-systemcalendar:before {
	content: "\2d";
}
.ic-systeminbox:before {
	content: "\2e";
}
.ic-systemput:before {
	content: "\2f";
}
.ic-systemsave:before {
	content: "\30";
}
.ic-systemundo:before {
	content: "\31";
}
.ic-systemredo:before {
	content: "\32";
}
.ic-systemcontact:before {
	content: "\33";
}
.ic-systemrefresh:before {
	content: "\34";
}
.ic-systemsearch:before {
	content: "\35";
}
.ic-systemlock:before {
	content: "\36";
}
.ic-systemconfig:before {
	content: "\37";
}
.ic-systemsettings:before {
	content: "\38";
}
.ic-systemtrash1:before {
	content: "\39";
}
.ic-systemtrash2:before {
	content: "\3a";
}
.ic-systemcloud:before {
	content: "\3b";
}
.ic-systemearth:before {
	content: "\3c";
}
.ic-systemflag:before {
	content: "\3d";
}
.ic-systemattachment:before {
	content: "\3e";
}
.ic-systembookmark:before {
	content: "\3f";
}
.ic-systemheart1:before {
	content: "\40";
}
.ic-systemstar1:before {
	content: "\41";
}
.ic-systemstar2:before {
	content: "\42";
}
.ic-systemheart2:before {
	content: "\43";
}
.ic-systemwarning:before {
	content: "\44";
}
.ic-systeminfo:before {
	content: "\45";
}
.ic-systemquestion:before {
	content: "\46";
}
.ic-systemerror:before {
	content: "\47";
}
.ic-systemsuccess:before {
	content: "\48";
}
.ic-systemexit:before {
	content: "\49";
}
.ic-systemreload:before {
	content: "\4a";
}
.ic-systemcheck1:before {
	content: "\4b";
}
.ic-systemcheck2:before {
	content: "\4c";
}
.ic-systemcheck3:before {
	content: "\4d";
}
.ic-systemcircle1:before {
	content: "\4e";
}
.ic-systemcircle2:before {
	content: "\4f";
}
.ic-systemcopy:before {
	content: "\50";
}
.ic-systempaste:before {
	content: "\51";
}
.ic-systemplus:before {
	content: "\52";
}

.ic-systemimage:before {
	content: "\53";
}
.ic-systemempty2:before {
	content: "\54";
}
.ic-systemmap:before {
	content: "\55";
}
.ic-systemalarm:before {
	content: "\56";
}
.ic-systemprint:before {
	content: "\57";
}
.ic-systemoutbox:before {
	content: "\58";
}
.ic-systemarchive:before {
	content: "\59";
}
.ic-systemunlock:before {
	content: "\5a";
}
.ic-systemwand:before {
	content: "\5b";
}
.ic-systemdashboard:before {
	content: "\5c";
}
.ic-systemlightning:before {
	content: "\5d";
}
.ic-systempowercord:before {
	content: "\5e";
}
.ic-systemlink:before {
	content: "\5f";
}
.ic-systemthumbup:before {
	content: "\60";
}
.ic-systemthumbdown:before {
	content: "\61";
}
.ic-systemfailure:before {
	content: "\62";
}
.ic-systemminus:before {
	content: "\63";
}
.ic-systemarrowupleft:before {
	content: "\64";
}
.ic-systemarrowup:before {
	content: "\65";
}
.ic-systemarrowupright:before {
	content: "\66";
}
.ic-systemarrowright:before {
	content: "\67";
}
.ic-systemarrowdownright:before {
	content: "\68";
}
.ic-systemarrowdown:before {
	content: "\69";
}
.ic-systemarrowdownleft:before {
	content: "\6a";
}
.ic-systemarrowleft:before {
	content: "\6b";
}
.ic-systemcut:before {
	content: "\6c";
}
.ic-systemfilter:before {
	content: "\6d";
}
.ic-systemtable:before {
	content: "\6e";
}
.ic-systemshare:before {
	content: "\6f";
}
.ic-systemclose:before {
	content: "\70";
}
.ic-systemcheckmark1:before {
	content: "\71";
}
.ic-systemcheckmark2:before {
	content: "\72";
}
.ic-systemarrowcircleup:before {
	content: "\73";
}
.ic-systemarrowcircledown:before {
	content: "\74";
}
.ic-systemarrowcircleleft:before {
	content: "\75";
}
.ic-systemarrowcircleright:before {
	content: "\76";
}
